.nav-list {
    color: var(--color-text);
}

.nav-list:hover {
    color: white;
}

.list-selected {
    color: var(--color-primary);
}

.list-selected:hover {
    color: var(--color-primary);
}

@media (min-width: 1024px) {
    .nav-list::before {
        content: '$';
        padding: 6px;
        font-size: x-small;
        color: var(--color-text);
    }
}