.nav-list {
    color: gray;
}

.nav-list:hover {
    color: white;
}

.list-selected {
    color: #00ffdd;
}

.list-selected:hover {
    color: #00ffdd;
}

@media (min-width: 1024px) {
    .nav-list::before {
        content: '$';
        padding: 6px;
        font-size: x-small;
        color: gray;
    }
}