.nav-list {
    color: var(--color-text);
}

.nav-list:hover {
    color: white;
}

.list-selected {
    color: var(--color-primary);
}

.list-selected:hover {
    color: var(--color-primary);
}

.scroller {
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(from var(--color-primary) r g b / 0.8) !important;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
        border-radius: 5em;
    }
}

@media (min-width: 1024px) {
    .nav-list::before {
        content: '$';
        padding: 6px;
        font-size: x-small;
        color: var(--color-text);
    }
}