@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: "Lilex", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #0F0F0F;
  --color-bg: #0c0c0c;
  --color-text: #808080;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@layer {
  :root {
    --color-primary: #00ffdd;
  }

  [data-theme='green'] {
    --color-primary: #C6D870;
  }
  
  [data-theme='pink'] {
    --color-primary: #FFB8E0;
  }

  [data-theme='orange'] {
    --color-primary: #FF9D23;
  }
}